.App {
  background: #f9f8fe;
  /* height: 100%; */
}

.App-logo {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  height: 40vmin;
  pointer-events: none;
}

.App-footer {
  margin-top: 10px;
  padding: 20px;
  text-align: center;
}
