.App {
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  /* background: #f9f8fe; */
}

.App-logo {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  height: 40vmin;
  pointer-events: none;
}

.App-footer {
  margin-top: 10px;
  padding: 20px;
  text-align: center;
}
.App-footer a {
  color: #188092;
}
